body{
	margin:0;
}
h3, p {
    margin: 0;
    line-height: 1.3;

}
h3{padding-bottom: 10px;}
main{
	width: 960px;
	margin: 0 auto;
}
section.section-one {
    overflow: hidden;
    padding: 30px;
}
.col-4 {
    width: 33.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.inner {
    background: #DFDFE1;
    padding: 15px;
}

section.section-two {
    overflow: hidden;
    text-align: center;
    background: #EEEEEE;
    padding: 15px 30px;
}

.section-two .col-4 .inner {
    background: none;
    padding: 0;
}

img {
    width: 100%;
}


